
/******************************************************************************\
*     fichier vide part de gcc_cons_zrd.cbp
*       template ide codeBlocks
*
*
*
*        ccgousset janvier 2015
\******************************************************************************/

console ICON BolR.ico
